<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="{{ path_prefix }}/static/main.css"/>
		<link rel="stylesheet" href="{{ path_prefix }}//static/highlight.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ page_title }} | {{ site_title }}</title>
	</head>
	<body>
		<div class="content-container">
			{{ content | safe }}
		</div>
		<div class = "controls-container">
			{% if prev_link is not none %}
			<a class="nav-button-edge" href="{{ path_prefix }}/{{ prev_link }}"> ⟵ {{ prev_title }}</a>
			{% endif %}
			<a class="nav-button-middle" href="{{ path_prefix }}/{{ path_prefix }}/">Home</a>
			{% if chapter_link != "/" %}
			<a class="nav-button-middle" href="{{ path_prefix }}/{{ chapter_link }}">Chapter</a>
			{% endif %}
			{% if next_link is not none %}
			<a class="nav-button-edge" href="{{ path_prefix }}/{{ next_link }}">{{ next_title }} ⟶</a>
			{% endif %}
		</div>
	</body>
</html>